.related-item{
	float: left;
	width: 100%;
}

.related-item span{
	display: block;
	width: 100%;
	float: left;
	text-align: left;
}

.related-item .source{
	background: #999;
	color: #ffffff;
	padding:2px 5px; 
	font-size: 8px;
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
	overflow: hidden;
}
.related-item .source-name{
	float: right;
	max-width: 25%;
	border-left: 1px solid #fff;
	padding-left: 5px;
}
.related-item .title{
	float: right;
	max-width: 75%;
}

.related-item .description{
	padding:4px;
	background: #fafafa;
	font-size: 12px;
	overflow: hidden;
}